*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    background: url("../images/bg.jpg") no-repeat center center/cover;
    /*background-repeat: no-repeat;*/
    /*background: center;*/
}
